.inset-shadow-cell-amberdark {
  box-shadow: 
    4px 4px 4px #973c00 inset,
    -4px -4px 4px #973c00 inset;
}
.inset-shadow-cell-amberlight {
  box-shadow: 
    4px 4px 4px #fef3c6  inset,
    -4px -4px 4px #fef3c6  inset;
}
.inset-shadow-cell-ambermedium {
  box-shadow: 
    4px 4px 4px #ffd230  inset,
    -4px -4px 4px #ffd230  inset;
}

.inset-shadow-log-amberdark {
  box-shadow: 
    2px 2px 2px #973c00 inset,
    -2px -2px 2px #973c00 inset;
}
.inset-shadow-log-amberlight {
  box-shadow: 
    2px 2px 2px #fef3c6  inset,
    -2px -2px 2px #fef3c6  inset;
}
.inset-shadow-log-ambermedium {
  box-shadow: 
    2px 2px 2px #ffd230  inset,
    -2px -2px 2px #ffd230  inset;
}


/*unused styles*/
.inset-shadow-move-green {
  box-shadow: 
    4px 4px 1px #009689 inset,
    -4px -4px 1px #009689 inset;
}
.inset-shadow-move-red {
  box-shadow: 
    4px 4px 1px #c800de inset,
    -4px -4px 1px #c800de inset;
}
.inset-shadow-move-orange {
  box-shadow: 
    4px 4px 1px #ff6900 inset,
    -4px -4px 1px #ff6900 inset;
}
.inset-shadow-move-lightgreen {
  box-shadow: 
    4px 4px 1px #7bf1a8  inset,
    -4px -4px 1px #7bf1a8  inset;
}
.inset-shadow-move-lime {
  box-shadow: 
    4px 4px 1px #7ccf00  inset,
    -4px -4px 1px #7ccf00  inset;
}
.inset-shadow-move-gray {
  box-shadow: 
    4px 4px 1px #99a1af inset,
    -4px -4px 1px #99a1af inset;
}
