@theme {
  --inset-shadow-cell-amberdark: inset var(--offset-x-pos) var(--offset-y-pos)
      var(--blur-radius-cell) var(--color-amber-700),
    inset var(--offset-x-neg) var(--offset-y-neg) var(--blur-radius-cell)
      var(--color-amber-700);
  --inset-shadow-cell-ambermedium: inset var(--offset-x-pos) var(--offset-y-pos)
      var(--blur-radius-cell) var(--color-amber-400),
    inset var(--offset-x-neg) var(--offset-y-neg) var(--blur-radius-cell)
      var(--color-amber-400);
  --inset-shadow-cell-amberlight: inset var(--offset-x-pos) var(--offset-y-pos)
      var(--blur-radius-cell) var(--color-amber-200),
    inset var(--offset-x-neg) var(--offset-y-neg) var(--blur-radius-cell)
      var(--color-amber-200);

  --inset-shadow-log-amberdark: inset 2px 2px 2px var(--color-amber-800),
    inset -2px -2px 2px var(--color-amber-800);
  /* --inset-shadow-log-ambermedium: inset 2px 2px 2px var(--color-amber-400),
    inset -2px -2px 2px var(--color-amber-400); */
  /* --inset-shadow-log-amberlight: inset 2px 2px 2px var(--color-amber-150),
    inset -2px -2px 2px var(--color-amber-150); */

  --inset-shadow-select-safe: inset var(--offset-x-pos) var(--offset-y-pos)
      var(--blur-radius) var(--color-amber-400),
    inset var(--offset-x-neg) var(--offset-y-neg) var(--blur-radius)
      var(--color-amber-400);
  --inset-shadow-select-danger: inset var(--offset-x-pos) var(--offset-y-pos)
      var(--blur-radius) var(--color-red-500),
    inset var(--offset-x-neg) var(--offset-y-neg) var(--blur-radius)
      var(--color-red-500);
  --inset-shadow-select-hover: inset var(--offset-x-pos) var(--offset-y-pos)
      var(--blur-radius) var(--color-gray-400),
    inset var(--offset-x-neg) var(--offset-y-neg) var(--blur-radius)
      var(--color-gray-400);

  --inset-shadow-move-safe: inset var(--offset-x-pos) var(--offset-y-pos)
      var(--blur-radius)
      color-mix(in oklab, var(--color-green-700) 80%, transparent),
    inset var(--offset-x-neg) var(--offset-y-neg) var(--blur-radius)
      color-mix(in oklab, var(--color-green-700) 80%, transparent);
  --inset-shadow-move-danger: inset var(--offset-x-pos) var(--offset-y-pos)
      var(--blur-radius)
      color-mix(in oklab, var(--color-red-700) 80%, transparent),
    inset var(--offset-x-neg) var(--offset-y-neg) var(--blur-radius)
      color-mix(in oklab, var(--color-red-700) 80%, transparent);

  --inset-shadow-piece-ep: inset var(--offset-x-pos) var(--offset-y-pos)
      var(--blur-radius) var(--color-rose-400),
    inset var(--offset-x-neg) var(--offset-y-neg) var(--blur-radius)
      var(--color-rose-400);
  --inset-shadow-piece-castling: inset var(--offset-x-pos) var(--offset-y-pos)
      var(--blur-radius) var(--color-lime-400),
    inset var(--offset-x-neg) var(--offset-y-neg) var(--blur-radius)
      var(--color-lime-400);
}
