@import "../styles/shadows.css";
@import "../styles/scrollbars.css";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-amber-150: #e3b35d;
  --spacing-18: 4.5rem;
  --spacing-70: 17.5rem;
  --animate-scale-pulse: scale_pulse 3s ease-in-out infinite;
  --animate-ring-pulse: ring_pulse 3s ease-in-out infinite;
  @keyframes scale_pulse {
    0%,
    100% {
      scale: 1.1;
    }
    50% {
      scale: 1;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 640px;
}